<!DOCTYPE html>
<html lang="en">

<body>
    <h2>Registration Form <h2>
    
    <from action="/register">
        
        <label for="name"> Name:</label><br>
        <input type="text" id = "name" placeholder="Ievadi savu vārdu"><br>
        
        <label for="name"> Surname:</label><br>
        <input type="text" id = "Surname" placeholder="Ievadi savu uzvardu"><br>

        <label for="name"> Group:</label><br>
        <select id="Group"><br>
            <option value="   "></option>
            <option value="DP2-3">DP2-3</option>
            <option value="DP2-1">DP2-1</option>
            <option value="DP2-2">DP2-2</option>
            <option value="DP2-4">DP2-4</option>
        </select><br>
        <form action="/action_page.php">
            <input type="checkbox" id="Group1" name="Group1" value="DP2-1">
            <label for="Group1"> DP2-1</label><br>
            <input type="checkbox" id="Group2" name="Group2" value="DP2-2">
            <label for="Group2"> DP2-2</label><br>
            <input type="checkbox" id="Group3" name="Group3" value="DP2-3">
            <label for="Group3"> DP2-3</label><br>
            <input type="checkbox" id="Group4" name="Group4" value="DP2-4">
            <label for="Group4">DP2-4</label><br>
            <input type="submit" value="Submit">
          </form> 
          <!DOCTYPE html>
<html>
<body>

<h2>Izvelies savu gruppu</h2>


<p>Datorikas nodaļas gruppas:</p>
<form action="/action_page.php">

  <input type="Grupa1" id="dp2-1" name="nod_grupa" value="DP2-1">
  <label for="dp2-1">DP2-1</label><br>
  
  <input type="Grupa2" id="dp2-2" name="nod_grupa" value="DP2-2">
  <label for="dp2-2">DP2-2</label><br>
  
  <input type="Grupa3" id="dp2-3" name="nod_grupa" value="DP2-3">
  <label for="dp2-3">DP2-3</label><br><br>
  
    <input type="Grupa4" id="dp2-4" name="nod_grupa" value="DP2-4">
  <label for="dp2-4">DP2-4</label><br><br>
  
  <input type="submit" value="Submit">
</form> 

</body>
</html>
        
        <label for="email"> Email:</label><br>
        <input type="email"><br>
        <input type="submit" value="Resistreties"><br>
        <a href="https://www.youtubekids.com/">Vai azmirsi paroli!</a>
        
    </from>

    </from>
</body>
</html>