<!DOCTYPE html>
<html lang="en">

<body>
    <h2>Registration Form <h2>
    
    <from action="/register">
        
        <label for="name"> Name:</label><br>
        <input type="text" id = "name" placeholder="Ievadi savu vārdu"><br>
        
        <label for="name"> Surname:</label><br>
        <input type="text" id = "Surname" placeholder="Ievadi savu uzvardu"><br>

        <label for="name"> Group:</label><br>
        <select id="Group"><br>
            <option value="   "></option>
            <option value="DP2-3">DP2-3</option>
            <option value="DP2-1">DP2-1</option>
            <option value="DP2-2">DP2-2</option>
            <option value="DP2-4">DP2-4</option>
        </select><br>
        
        <label for="email"> Email:</label><br>
        <input type="email"><br>
        <input type="submit" value="Resistreties"><br>
        <a href="https://www.youtubekids.com/">Vai azmirsi paroli!</a>
        
    </from>

    </from>
</body>
</html>